.mb-3 {
    margin: 1rem;
    margin-bottom: 1.7rem;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    font-size: 1.25rem;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-text {
    text-indent:2em;
    margin-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: left;
}