.mb-3 {
    margin-left: 8rem;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.card-text {
    margin-bottom: 1rem;
}